{% block header %}{{ header }}{% endblock %}
-----------------------------------
{% block message %}{% for paragraph in message %}
{{ paragraph }}
{% endfor %}{% endblock %}
-----------------------------------

{% include '../../components/footer/footer-text.njk' %}
