.footer {
  width: 100%;

  .fine-print td {
    color: color(text, lightest);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 12px;
    line-height: 1.8em;
    letter-spacing: 0.08em;
  }
}
